^ -- начальное

* -- конечное состояние

0 -- empty condition

e -- e-transition

; - разделитель

{ -- начало последвоательности состояний
} -- конец посл-ти обязателен  [{](\w;){2,}[}]

word:  size
       word;...